Flask[async]>=2.3.3
requests>=2.31.0
scapy>=2.5.0
netifaces-plus>=0.1.0
sentry-sdk[flask]>=1.32.0
psutil>=5.9.5
Flask-SocketIO>=5.3.4
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
mac-vendor-lookup>=0.1.11
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
waitress>=3.0.1  # Production-grade WSGI server
python-dotenv>=1.0.0  # For loading environment variables
typing-extensions>=4.7.1  # For improved type hinting

# FOR Raspberry Pi
rpi_ws281x; platform_system == 'Linux'
smbus; platform_system == 'Linux'
