<html lang="{{ 'de' if request.accept_languages.best_match(['de', 'en']) == 'de' else 'en' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hidden.css') }}"/>
    <meta charset="UTF-8"/>
    <title>NetFang Secured Router</title>
</head>
<body>
<header>
    <div class="header-content">
        <img src="{{ url_for('static', filename='router_logo.png') }}" alt="Router Logo" class="router-logo"/>
        <h1>NetFang Secured Router</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('test') }}">Test Page</a></li>
        </ul>
    </nav>
</header>
<main>
    <div> Current state: <span id="state"></span></div>
</main>
<footer>
    <p>&copy; 2025
        NetFang. {{ 'Alle Rechte vorbehalten.' if request.accept_languages.best_match(['de', 'en']) == 'de' else 'All rights reserved.' }}
    </p>
</footer>
<script>
    let previousState = '';

    function typeText(element, text) {
        let index = 0;
        element.innerText = '';
        const typeInterval = setInterval(() => {
            if (index < text.length) {
                element.innerText += text.charAt(index);
                index++;
            } else {
                clearInterval(typeInterval);
            }
        }, 50);
    }

    function updateState() {
        fetch("/state")
            .then(response => response.json())
            .then(data => {
                const stateElement = document.getElementById("state");
                if (data.state !== previousState) {
                    previousState = data.state;
                    typeText(stateElement, data.state);
                }
            })
            .catch(error => console.error('Failed to fetch state:', error));
    }

    setInterval(updateState, 5000);
    updateState();
</script>
</body>
</html>